<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="get-form" th:action="@{/viewbook(name=${book.bookName})}" th:method="get" action="viewbook.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="name-input">Name :</label>
        <input id="name-input" type="text" readonly="readonly" th:value="${book.bookName}" value="Spring documentation"/>
    </div>

    <div class="row">
        <label for="author-input">Author :</label>
        <input id="author-input" name="author" type="text" th:value="${book.author.authorName}" value="John Doe"/>
    </div>

    <div class="row">
        <label for="genre-input">Genre :</label>
        <input id="genre-input" name="genre" type="text" th:value="${book.genre.genreName}" value="Comedy"/>
    </div>
</form>

</body>
</html>
