<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }


    </style>
</head>
<body>
<h1>Please submit information in order to create book:</h1>

<form action="/createbook" method="post">
    <input type="radio" name="Action" value="Create" checked="checked"/> Create<br/>
    <p>
        <label>Book name:</label>
        <input type="text" name="book_name" value="SomeBook"/><br/>
    </p>

    <p>
        <label>Author name:</label>
        <input type="text" name="author_name" value="AuthorName"/><br/>
    </p>

    <p>
        <label>Genre name:</label>
        <input type="text" name="genre_name" value="GenreName"/><br/>
    </p>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>